*.lock
*.bin
*.probe
*.idea
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.properties
.idea/gradle.xml
.idea/libraries
.idea
app/prod/release/output-metadata.json
app/prod/release/baselineProfiles/1/app-prod-release.dm
app/prod/release/baselineProfiles/0/app-prod-release.dm
android/local.properties
.android/local.properties
.idea/misc.xml
local.properties
.gradle
.kotlin/errors
app/dev
app/prod/release
app/release